# Ignores TypeScript files, but keeps definitions.
!*.d.ts

# source
lib
package-lock.json
.prettierrc
prisma/
.vscode/
.github/
.eslintignore
.eslintrc.js
.node-version
.prettierignore

# misc
.DS_Store

examples/

# docs
docs/