---
import 'inter-ui/inter.css';
import { SEO } from 'astro-seo';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { OPEN_GRAPH, SITE } from '../config';

export interface Props {
  title?: string;
}

const { title } = Astro.props;

const formattedContentTitle = title ? `${title} - ${SITE.title}` : SITE.title;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <HeadCommon />

    <SEO
      title={formattedContentTitle}
      description={SITE.description}
      openGraph={{
        basic: {
          title: formattedContentTitle,
          type: 'article',
          image: OPEN_GRAPH.image.src,
        },
        optional: {
          siteName: SITE.title,
          description: SITE.description,
          locale: SITE.defaultLanguage,
        },
      }}
      twitter={{
        title: formattedContentTitle,
        card: 'summary_large_image',
        description: SITE.description,
        site: OPEN_GRAPH.twitter,
        image: OPEN_GRAPH.image.src,
        imageAlt: OPEN_GRAPH.image.alt,
      }}
    />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      html {
        font-feature-settings: 'cv11';
      }
    </style>

    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class="bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
