---
import CustomDoc from '../../layouts/CustomDoc.astro';
import { examples } from '../../config';
import { Icon } from 'astro-icon';
---

<CustomDoc
  title="Examples"
  githubEditUrl={'https://github.com/notiz-dev/nestjs-prisma/blob/main/docs/src/config.ts#L84-L107'}
>
  <ul class="mt-6 grid gap-6 md:grid-cols-2">
    {
      examples.map((example) => (
        <li class="overflow-hidden rounded-md p-4 shadow-md dark:bg-gray-800 dark:shadow-xl">
          <a href={example.link} class="inline-block">
            <span class="flex items-center ">
              <span class="inline-block text-lg font-semibold">
                {example.name}
              </span>
              <span class="ml-2">
                <Icon name="github" class="h-5 w-5" />
              </span>
            </span>
            <span class="mt-1 inline-block text-sm text-gray-700 dark:text-gray-300">
              {example.description}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</CustomDoc>
