---
import CustomDoc from '../../layouts/CustomDoc.astro';
import GitHub from '../../components/logos/GitHub.astro';
import { examples } from '../../config';
---

<CustomDoc title="Examples">
  <ul class="mt-6 grid md:grid-cols-2 gap-6">
    {
      examples.map((example) => (
        <li class="overflow-hidden rounded-md p-4 shadow-md dark:bg-gray-800 dark:shadow-xl">
          <a href={example.link} class="inline-block">
            <span class="flex items-center ">
              <span class="inline-block text-lg font-semibold">
                {example.name}
              </span>
              <span class="ml-2">
                <GitHub />
              </span>
            </span>
            <span class="mt-1 inline-block text-sm text-gray-700 dark:text-gray-300">
              {example.description}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</CustomDoc>
