---
import { Icon } from 'astro-icon';
---

<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 pb-16 lg:px-8">
    <nav
      class="-mb-6 columns-2 text-center sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-6">
        <a
          href="/docs/installation"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Docs</a
        >
      </div>
      <div class="pb-6">
        <a
          href="https://notiz.dev"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Blog</a
        >
      </div>
      <div class="pb-6">
        <a
          href="https://portfolio.notiz.dev"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Consulting</a
        >
      </div>
      <div class="pb-6">
        <a
          href="https://github.com/sponsors/notiz-dev"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Sponsor us</a
        >
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <a
        href="https://github.com/notiz-dev/nestjs-prisma"
        class="hover:opacity-80"
      >
        <span class="sr-only">GitHub</span>
        <Icon name="github" class="h-6 w-6" />
      </a>
      <a href="https://twitter.com/notiz_dev" class="hover:opacity-80">
        <span class="sr-only">Twitter</span>
        <Icon name="twitter" class="h-6 w-6" />
      </a>
    </div>
    <p
      class="mt-10 text-center text-xs leading-5 text-gray-500 dark:text-gray-400"
    >
      &copy; 2020-2023 notiz.dev. All rights reserved.
    </p>
  </div>
</footer>
