---
import { Icon } from 'astro-icon';

const year = new Date().getFullYear();
---

<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 pb-16 lg:px-8">
    <nav
      class="-mb-6 columns-2 text-center sm:flex sm:justify-center sm:space-x-12"
      aria-label="Footer"
    >
      <div class="pb-6">
        <a
          href="/docs/installation"
          class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Docs</a
        >
      </div>
      <div class="pb-6">
        <a
          href="https://notiz.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Blog
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
            ></path>
          </svg>
        </a>
      </div>
      <div class="pb-6">
        <a
          href="https://portfolio.notiz.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Consulting
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
            ></path>
          </svg>
        </a>
      </div>
      <div class="pb-6">
        <a
          href="https://github.com/sponsors/notiz-dev"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-1 text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100"
          >Sponsor us
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
            ></path>
          </svg>
        </a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <a
        href="https://github.com/notiz-dev/nestjs-prisma"
        class="hover:opacity-80"
      >
        <span class="sr-only">GitHub</span>
        <Icon name="github" class="h-6 w-6" />
      </a>
      <a href="https://twitter.com/notiz_dev" class="hover:opacity-80">
        <span class="sr-only">Twitter</span>
        <Icon name="twitter" class="h-6 w-6" />
      </a>
    </div>
    <p
      class="mt-10 text-center text-xs leading-5 text-gray-500 dark:text-gray-400"
    >
      &copy; 2020-{year} notiz.dev. All rights reserved.
    </p>
  </div>
</footer>
