---
import { Icon } from 'astro-icon';
---

<footer
  class="max-w-screen-xl mx-auto flex items-center justify-between px-4 py-12 sm:px-6 lg:px-8"
>
  <p class="flex items-center gap-3">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      class="w-8 h-8"
    >
      <defs>
        <linearGradient
          x1="-4.646%"
          y1="68.441%"
          x2="108.222%"
          y2="37.806%"
          id="a"
        >
          <stop stop-color="#55F3DE" offset="0%"></stop>
          <stop stop-color="#55B9F3" offset="51.68%"></stop>
          <stop stop-color="#556AF3" offset="100%"></stop>
        </linearGradient>
        <linearGradient
          x1="107.742%"
          y1="44.238%"
          x2="91.726%"
          y2="46.099%"
          id="b"
        >
          <stop stop-color="#55B9F3" offset="0%"></stop>
          <stop stop-color="#55B9F3" stop-opacity="0" offset="100%"></stop>
        </linearGradient>
        <linearGradient
          x1="75.526%"
          y1="-.121%"
          x2="62.923%"
          y2="24.633%"
          id="c"
        >
          <stop stop-color="#55F3DE" offset="0%"></stop>
          <stop stop-color="#55F3DE" stop-opacity="0" offset="100%"></stop>
        </linearGradient>
        <linearGradient
          x1="97.499%"
          y1=".941%"
          x2="49.147%"
          y2="56.084%"
          id="d"
        >
          <stop stop-color="#55B9F3" offset="0%"></stop>
          <stop stop-color="#55B9F3" stop-opacity="0" offset="100%"></stop>
        </linearGradient>
        <linearGradient
          x1="103.894%"
          y1="-1.647%"
          x2="44.508%"
          y2="55.261%"
          id="e"
        >
          <stop stop-color="#55B9F3" offset="0%"></stop>
          <stop stop-color="#55B9F3" stop-opacity="0" offset="100%"></stop>
        </linearGradient>
      </defs>
      <g fill-rule="nonzero" fill="none">
        <path
          d="M148.806 181.007c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zm0 0c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zM341.73 95.262a96.816 96.816 0 00-26.78 2.99c-.121.033-.249.06-.37.094-.808-26.144-11.516-49.79-28.503-67.3a51.88 51.88 0 00-1.05-1.057c-.35-.35-.706-.707-1.063-1.044a32.038 32.038 0 00-.983-.929c-.357-.343-.733-.687-1.097-1.024a78.53 78.53 0 00-1.11-1.003c-.478-.424-.963-.842-1.44-1.26a107.49 107.49 0 00-5.183-4.155c-.343-.256-.693-.512-1.036-.76-.62-.459-1.245-.896-1.871-1.334-.081-.06-.169-.115-.25-.175a81.2 81.2 0 00-1.85-1.253 134.25 134.25 0 00-2.066-1.327c-.7-.437-1.394-.855-2.1-1.272-.35-.216-.714-.425-1.064-.62-11.354-6.607-24.1-10.998-37.69-12.681-.854-.101-1.702-.202-2.563-.29a89.664 89.664 0 00-2.706-.236c-.747-.06-1.494-.1-2.234-.148-.512-.027-1.017-.047-1.528-.067-.653-.02-1.306-.04-1.959-.054-.653-.014-1.319-.02-1.972-.02-49.44.148-90.508 35.815-99.117 82.83l-.861-.082c-3.237-.31-6.522-.471-9.846-.471C46.674 82.614.66 128.665.66 185.459c0 5.374.417 10.654 1.211 15.806 3.641 23.598 25.696 35.72 46.674 32.05a42.958 42.958 0 0012.23-4.081 9.189 9.189 0 01-2.323-6.634 9.2 9.2 0 013.05-6.357l8.957-7.974a2.282 2.282 0 011.65-.58c.127.007.262.028.39.061h.006c.444.101.855.337 1.185.707l22.176 24.764c.276.303.451.66.532 1.037a2.282 2.282 0 01-.707 2.202l-8.87 8.048c-3.682 3.3-9.719 2.963-13.003-.7l-1.824-2.041a28.855 28.855 0 00-4.866 10.149c-4.099 15.954 6.023 33.693 25.03 35.768.215.027.43.047.64.067-.041.344-.062.546-.062.546h246.255c53.6 0 96.99-43.728 96.485-97.478-.485-51.627-42.145-94.116-93.746-95.557zM102.509 230.298c-.451.417-1.05.626-1.663.592h-.006a2.247 2.247 0 01-1.582-.76l-7.989-8.917h-.006l-9.78-10.924-4.347-4.855a2.302 2.302 0 01.181-3.26l49.838-44.361c.027-.02.067-.027.094-.054.115-.094.25-.155.384-.229.047-.02.087-.047.141-.067.088-.047.182-.088.283-.115.034-.013.067-.04.108-.054l14.174-3.232 18.481-4.216a2.3 2.3 0 012.221.707c.559.62.734 1.508.464 2.296l-6.185 17.948-4.583 13.281-.168.478c-.122.35-.337.633-.586.876-.02.02-.02.06-.047.08l-49.427 44.786zm-42.037-30.656a3.054 3.054 0 01.68-3.65l9.065-8.13c7.666-6.882 16.866-8.835 23.024-3.023l-.444.39-17.357 15.578c-2.989-.505-7.66-.411-11.637.438-.148.027-.29.047-.437.053a3.055 3.055 0 01-2.894-1.656zm42.757 47.694c-.996-.633-1.514-1.818-1.353-2.976.007-.007.007-.007 0-.014a3.44 3.44 0 01.121-.505c1.266-3.859 1.865-8.492 1.69-11.523l17.35-15.564.451-.41c5.108 6.754 2.167 15.698-5.505 22.58l-9.06 8.13a3.036 3.036 0 01-3.694.282zm45.672-66.262l.276-.801c-.128.263-.256.512-.364.734.027.02.054.047.088.067zm-.095-.067c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zm0 0c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734z"
          fill="url(#a)"
          transform="translate(38 111)"></path>
        <path
          d="M92.797 185.23L75.44 200.807c-2.989-.505-7.66-.411-11.637.438-.148.027-.29.047-.437.053.551.25 1.177.33 1.81.202 3.816-.8 8.292-.895 11.159-.417l17.075-15.315a9.223 9.223 0 00-.613-.538zm3.123 46.967l-21.275-23.746a2.172 2.172 0 00-2.153-.674c.444.101.855.337 1.184.707l22.177 24.764c.276.303.45.66.531 1.037a2.176 2.176 0 00-.464-2.088zm25.117-15.443c-.175-.262-.343-.518-.538-.767l-17.068 15.321c.168 2.903-.41 7.348-1.622 11.052a2.895 2.895 0 00.06 1.98 3.44 3.44 0 01.122-.506c1.265-3.858 1.864-8.492 1.689-11.523l17.357-15.557zm27.77-35.747c.026.02.053.047.087.067l.276-.801c-.128.263-.25.512-.364.734z"
          fill="url(#b)"
          transform="translate(38 111)"></path>
        <path
          d="M148.806 181.007c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zm0 0c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zm-35.556-97.8c-3.21-.31-6.474-.465-9.772-.465C46.742 82.742.754 128.76.754 185.532l47.771 47.803a42.958 42.958 0 0012.23-4.081 9.189 9.189 0 01-2.323-6.634 9.2 9.2 0 013.05-6.357l8.957-7.974a2.282 2.282 0 011.649-.58c.128.008.262.028.39.061h.007c.444.101.855.337 1.185.708l22.176 24.763c.276.303.45.66.532 1.037a2.282 2.282 0 01-.707 2.202l-8.87 8.048c-3.682 3.3-9.72 2.963-13.004-.7l-1.823-2.04a28.855 28.855 0 00-4.866 10.148l36.357 36.38c50.557 0 92.581-36.541 101.135-84.667a103.715 103.715 0 001.589-18.123c.02-53.466-40.786-97.396-92.939-102.32zM60.472 199.642a3.054 3.054 0 01.68-3.65l9.065-8.13c7.666-6.882 16.866-8.835 23.024-3.023l-.444.39-17.357 15.578c-2.989-.505-7.66-.411-11.637.438-.148.027-.29.047-.437.053a3.055 3.055 0 01-2.894-1.656zm55.51 39.283l-9.058 8.129a3.057 3.057 0 01-3.702.282c-.996-.633-1.514-1.818-1.353-2.976.007-.007.007-.007 0-.014a3.44 3.44 0 01.122-.505c1.265-3.859 1.864-8.492 1.689-11.523l17.35-15.564.451-.41c5.115 6.761 2.174 15.698-5.498 22.58zm36.593-54.382c-.12.35-.336.633-.585.875-.02.02-.02.06-.047.081l-49.427 44.799c-.451.417-1.05.626-1.663.592h-.007a2.247 2.247 0 01-1.581-.76l-7.989-8.917h-.007l-9.779-10.924-4.348-4.855a2.302 2.302 0 01.182-3.26l49.838-44.361c.027-.02.067-.027.094-.054.114-.094.25-.155.384-.229.047-.02.087-.047.141-.067.088-.047.182-.088.283-.115.033-.013.067-.04.107-.054l14.174-3.232 18.482-4.216a2.3 2.3 0 012.221.707c.558.62.733 1.508.464 2.296l-6.185 17.948-4.583 13.281-.169.465zm-3.674-3.469l.276-.801c-.128.263-.256.512-.364.734.027.02.054.047.088.067zm-.095-.067c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734zm0 0c.027.02.054.047.088.067l.276-.801c-.128.263-.25.512-.364.734z"
          fill="url(#c)"
          transform="translate(38 111)"></path>
        <path
          d="M149.177 180.273l-.276.801c-.034-.02-.06-.047-.088-.067.108-.222.229-.471.364-.734z"
          fill="url(#d)"
          transform="translate(38 111)"></path>
        <path
          d="M315.024 102.185c0 56.24-45.564 101.834-101.775 101.834-2.908 0-5.788-.121-8.628-.357-19.343-1.623-37.138-8.66-51.884-19.59l4.583-13.281 6.185-17.948c.27-.788.095-1.67-.464-2.297a2.3 2.3 0 00-2.221-.707l-18.481 4.216-14.174 3.233c-.04.013-.074.04-.108.053a1.308 1.308 0 00-.283.115c-10.31-15.92-16.287-34.899-16.287-55.271 0-6.486.606-12.83 1.77-18.978.007-.034.007-.068.02-.102C122.195 35.983 163.573.357 213.256.357c.652 0 1.319.007 1.972.02.652.014 1.305.034 1.958.054.512.02 1.016.04 1.528.067.747.04 1.494.081 2.234.149.902.06 1.81.148 2.706.235.855.088 1.703.189 2.564.29a100.957 100.957 0 0137.69 12.681c.35.202.713.411 1.063.62.707.417 1.4.835 2.1 1.273.693.437 1.38.875 2.066 1.326.62.411 1.238.822 1.85 1.253.082.054.17.108.25.175a86.43 86.43 0 011.87 1.334c.344.249.694.505 1.037.76.646.492 1.3.99 1.939 1.496a105.372 105.372 0 013.244 2.66c.484.417.969.835 1.44 1.26.37.33.747.66 1.11 1.003.364.336.74.68 1.097 1.023.33.303.653.613.983.93.357.336.714.693 1.063 1.044.35.343.707.7 1.05 1.057 17.062 17.483 27.89 41.081 28.873 67.205.054 1.293.081 2.6.081 3.913z"
          fill="url(#e)"
          transform="translate(38 111)"></path>
      </g>
    </svg>

    <span>
      Made by<a class="font-bold" href="https://notiz.dev"> notiz.dev</a>
    </span>
  </p>
  <div>
    <a aria-label="GitHub" href="https://github.com/notiz-dev/nestjs-prisma">
      <Icon name="github" class="w-5 h-5" />
    </a>
  </div>
</footer>
