---
import GitHub from './logos/GitHub.astro';
---

<header
  class="max-w-screen-xl mx-auto sticky top-0 z-50 flex items-center justify-between bg-white px-4 py-5 sm:px-6 lg:px-8 dark:bg-gray-900"
>
  <a
    href="/"
    aria-label="Home page"
    class="font-semibold text-xl bg-clip-text text-transparent bg-gradient-to-r from-red-600 via-pink-600 to-violet-500"
  >
    nestjs-prisma
  </a>
  <div>
    <a aria-label="GitHub" href="https://github.com/notiz-dev/nestjs-prisma">
      <GitHub />
    </a>
  </div>
</header>
