/** Style Algolia */
/* TODO use tailwind css styles and consider dark/light */
:root {
  --docsearch-primary-color: theme(colors.violet.500);
}

:root.dark {
  --docsearch-modal-background: theme(colors.gray.900);
  --docsearch-footer-background: theme(colors.gray.800);
  --docsearch-modal-shadow: theme('boxShadow.lg');
  --docsearch-footer-shadow: theme('boxShadow.lg');

  /* search input */
  --docsearch-searchbox-focus-background: theme(colors.gray.800);
  --docsearch-text-color: theme(colors.gray.100);

  /* search item */
  --docsearch-hit-background: theme(colors.gray.800);
  --docsearch-hit-color: theme(colors.gray.300);
}

/* ------------------------------------------------------------ *\
	DocSearch (Algolia)
\* ------------------------------------------------------------ */

.DocSearch-Modal .DocSearch-Hit a {
  box-shadow: none;
  border: 1px solid var(--theme-accent);
}

.DocSearch-Commands {
  @apply hidden;
}

.DocSearch-NoResults .DocSearch-Screen-Icon {
  @apply hidden;
}
